/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
*/

/*
.cbxwpbookmark-private:after{
    content: "";
    margin-right: 3px;
    vertical-align: middle;
    background: no-repeat url('../img/icon.png') -93px -202px;
    background-size: auto;
    width: 21px;
    height: 21px;
    display: inline-block;
    float: right;
}

.cbxwpbookmark-public:after{
    content: "";
    margin-right: 3px;
    vertical-align: middle;
    background: no-repeat url('../img/icon.png') -431px -357px;
    background-size: auto;
    width: 21px;
    height: 21px;
    display: inline-block;
    float: right;
 }
 */